@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3 {
    text-align: center;
    font-weight: bold;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

p {
    font-size: 1.7rem;
}

a {
    font-size: 2.7rem;
}

div {
    font-size: 1.7rem;
}

.contenedor {
    width: 95%;
    margin: 0 auto;
}

/** -------------------------------- Header ----------------------------------------------------*/

header {
    background-color: black;
    margin-bottom: 3rem;
    border-radius: 0 0 2rem 2rem;
}

.divheader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

.divanuncios {
  background: linear-gradient(90deg, rgb(199, 164, 7) 0%, rgb(255, 145, 0) 50%, rgb(255, 0, 0) 100%);
  color: white;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  
}

.divanuncios p {
  font-size: 1.7rem;
}

.anuncio1 {
  animation: slideright 6s ease-in 0s infinite normal none;
}

.logo img {
    width: 16rem;
}

.navegacion {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.navegacion a {
    color: #d9d9d9;
    text-align: center;
}

.navegacion a:hover {
    transition: all .5s;
}

.jugueteslink:hover {
    background-image: linear-gradient(to right, #fc2a93, #4545b6); /* Cambia los colores según tus preferencias */
    background-clip: text;
    -webkit-background-clip: text; /* Para navegadores webkit (como Safari) */
    color: transparent; /* Hace que el color del texto sea transparente */
}

.ferreterialink:hover {
    background-image: linear-gradient(to right, #dbff11, #e6241d); /* Cambia los colores según tus preferencias */
    background-clip: text;
    -webkit-background-clip: text; /* Para navegadores webkit (como Safari) */
    color: transparent; /* Hace que el color del texto sea transparente */
}

.divbarra {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.sincarrito div {
  order: -1;
}

.separaheader {
  padding-top: 17rem;
}

@media (min-width: 768px) {
  .divbarra {
    width: auto;
  }
    .divheader {
        flex-direction: row;
    }
    .navegacion {
        display: flex;
        flex-direction: row;
        gap: 6rem;
        margin-bottom: 0rem;
    }
    .menuicono {
        visibility: hidden;
    }
    .logo img {
        width: 18rem;
    }
}


/** -------------------------------------- Footer ------------------------------------------------*/

footer {
    background-color: black;
    margin-top: 3rem;
}

.divfooter {
    display: flex;
    justify-content: center;
}

.divfooter img {
    width: 25rem;
    cursor: pointer;
}


/*------------------------------------- CATALOGO JUGUETES LOCAL ---------------------------- */

.titulocatalogo {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.titulojugueteria {
    color: #fc2a93;
}

.tituloferreteria {
    color: #242424;
}

.seccion-filtros {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
}

.seccion-filtros select {
    -webkit-appearance: none;
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
    
    height: 5rem;
    width: 100%;
    -webkit-background-clip: padding-box;
}

.juguetes {
    background-color: #4545b6;
    color: white;
}

.ferreteria {
    background-color: #dbff11;
    font-weight: 900;
    border: 1px solid #afa5a5;
    -webkit-appearance: none;
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
    height: 5rem;
    width: 100%;
    -webkit-background-clip: padding-box;

}

.seccion-precio, .seccion-precio input {
    width: 95%;
    text-align: center;
}

.boton-seccion-filtros {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.texto-boton-seccion-filtros {
  color: #3d3d3d;
}

.seccion-precio input {
    cursor: pointer;
    accent-color: #dbff11;
    -webkit-accent-color: #dbff11;
}

.divpaginador {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.paginador {
  background-color: #E9E9E9;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
}

.paginador-activo {
  background-color: #fdec00;
  color: black;
}

.text-range-prices {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .seccion-filtros {
        flex-direction: row;
        gap: 0rem;
    }
    .seccion-filtros select {
        width: 25rem;
    }
    .seccion-precio, .seccion-precio input {
        width: 25rem;
    }
}

/* --------------------------------------- SECCION CATALOGO --------------------------------*/

.div-banner img {
  border-radius: 2rem;
}

.productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 1rem;
}

.productocard {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 5px 15px 0px rgba(107, 106, 107, 0.3);
    border-radius: 1rem;
    padding: 1rem;
}

.productocard img {
    height: 25rem;
    object-fit: contain;
}

.productocard p:not(.referencia) {
    text-align: center;
    color: #242424;
}

.titulocard {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.referencia {
    font-size: 1.3rem;
    color: #535252;
    text-align: center;
}

.precio-car {
  font-size: 1.7rem;
}

.bultoclase {
    font-size: 1.5rem;
    color: #535252;
    text-align: center;
}

.preciocard {
    font-size: 2rem;
}

@media (min-width: 768px) {
    .productos {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

@media (min-width: 1024px) {
    .productos {
        grid-template-columns: repeat(5, 1fr);
    }
}


/** ----------------------------- PRODUCTO ---------------------------------------*/

.notificacion-carrito {
    position: fixed;
    bottom: 3rem;
    padding: 2rem;
    background-color: #51c57b;
    color: white;
    font-size: 1.7rem;
    text-transform: uppercase;
    border-radius: 2rem;
    width: 95%;
    text-align: center;
  }

  .estrella {
    width: 2.5rem;
  }

  .precio-prod-antes {
    font-size: 2rem;
    margin-top: 1rem;
    text-decoration: line-through;
    color: #808080;
  }
  
  .oferta-text {
    background-color: #004099;
    padding: .5rem 1.5rem;
    border-radius: 2rem;
    color: white;
  }
  
  .titulo-producto-final {
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
  }
  
  .carousel {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  
  .imagen-prod-pag {
    height: 5rem;
    width: 5rem;
    border: 1px solid #a5a5a5;
    border-radius: 1rem;
    padding: .5rem;
  }
  
  .imagen-titulos{
    display: grid;
    margin-top: 4rem;
    gap: 2rem;
  }
  
  .imagen-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contenedor2 {
    width: 95%;
    margin: 0 auto;
  }
  
  
  .beneficios {
    display: flex;
    flex-direction: column;
    gap: .8rem;
  }

  .puntosfuertes {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .icono-incluido {
    height: 3rem;
    width: 3rem;
  }
  
  .contenido-producto-final {
    border-radius: 2rem;
    border: 1px solid #a0a0a0;
    background-color: #ffffff;
    padding: 2rem;
  }
  
  .precio-prod {
    margin-top: 0rem;
    font-size: 3rem;
    color: #3d3d3d;
  }

  .bulto-pag-producto {
    color: #3d3d3d;
    margin-top: 1.5rem;
    font-size: 2rem;
  }
  
  .boton-ordenar {
    display: flex;
    background-color: #25d366;
    gap: 1rem;
    align-items: center;
    color: white;
    border-radius: 1rem;
    margin-top: 1rem;
    padding: .5rem;
    cursor: pointer;
  }
  
  .boton-ordenar:hover {
    background-color: #2bca65;
    transition: all .5s;
  }
  
  .boton-ordenar p {
    font-size: 2rem;
  }
  
  .boton-ordenar img {
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
  }
  
  .bulto {
    color: #3d3d3d;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .botones-carrito {
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
  }
  
  .botones-carrito button {
    background-color: #72727257;
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 100%;
  }
  
  .botones-carrito input {
    border: 1px solid #3d3d3d77;
    font-size: 1.5rem;
    width: 7rem;
    text-align: center;
    border-radius: 1rem;
  }
  
  .boton-agregar-carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #25d366;
    color: white;
    width: 100%;
    padding: 1rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-top: 2rem;
    border-radius: 1rem;
  }

  .fijar-boton-comprar-ahora {
    position: fixed;
    bottom: 0;
    left: 0;
  }
  
  .boton-agregar-carrito:hover {
    background-color: #3f3f3f;
    background-color: #22c05c;
    transition: all .7s;
  }
  
  .titulo-descripcion {
    font-size: 3rem;
  }
  
  .boton-descripcion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4rem 1rem;
    background-color: #d6d6d6;
    color: #3d3d3d;
    border-radius: 1rem;
    margin-top: 2rem;
    border: 1px solid #a5a5a5;
    cursor: pointer;
  }
  
  .descripcion {
    background-color: #d1d1d1;
    border-radius: 1rem;
  }

  .div-aida {
    margin-top: 2rem;
  }

  .lista-incluye {
    padding: 1rem 2rem;
  }

  .div-aida h2 {
    margin-top: 1rem;
  }
  
  .div-aida img {
    border-radius: 1.5rem;
    width: 100%;
  }

  .div-aida p {
    text-align: center;
  }
  
  ul, li {
    font-size: 1.7rem;
  }
  
  ul {
    list-style-type: disc;
  }
  
  .descripcion-parrafo {
    padding: 1rem 2rem;
    color: #3d3d3d;
    text-align: justify;
  }
  
  .imagen-principal-producto {
    border-radius: 1rem;
    object-fit: contain;
  }
  
  
  @media(min-width: 500px) {
    .imagen-principal-producto {
      height: 45rem;
      width: 45rem;
    }
    .imagen-prod-pag {
      height: 8rem;
      width: 8rem;
    }
    .carousel {
      gap: 2rem;
    }
  }
  
  @media (min-width: 1042px) {
    .boton-ordenar p {
      font-size: 3rem;
    }
    .notificacion-carrito {
      width: 80%;
    }
    .boton-ordenar img {
      width: 5rem;
      height: 5rem;
    }
    .imagen-titulos {
      grid-template-columns: 5fr 3fr;
    }
    .imagen-principal-producto {
      height: 50rem;
      width: 50rem;
    }
    .contenedor2 {
      width: 80%;
      margin: 0 auto;
    }
    .imagen-prod-pag {
      height: 9rem;
      width: 9rem;
    }
    .titulo-producto-final {
      font-size: 4rem;
      font-weight: normal;
    }
    
  }
  

  /* -------------------------------------- CARRITO -------------------*/

  .carrito {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
  }
  
  .carrito-ocultar {
    display: none;
  }

  @media (min-width: 768px) {
    .carrito-ocultar {
      display: block;
    }
  }



/* ------------------------------ CHECKOUT --------------------------*/

.pagina-checkout {
  display: grid;
  gap: 4rem;
}

.grid-item:nth-child(1){
  order: 2;
}

.grid-item:nth-child(2){
  order: 1;
}

.informacion-envio {
  padding: 2rem;
}

.informacion-envio h1 {
  margin-bottom: 3rem;
}

.div-rows-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.div-row-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.div-row-info label, .div-row-info input, .div-row-info select {
  font-size: 1.7rem;
}

.div-row-info label {
  font-weight: bold;
}

.div-row-info input, .div-row-info select {
  padding: 1rem;
  border: 1px solid #afafaf;
  border-radius: 1rem;
  box-shadow: 0px 5px 15px 0px rgba(107, 106, 107, 0.3);
}


.informacion-pedido {
  border: 1px solid #e7e7e7e7;
  border-radius: 1rem;
  padding: 2rem;
  background-color: #e7e7e765;
  box-shadow: 10px 7px 74px -12px rgba(114, 114, 114, 0.75);
}

.boton-checkout {
  background-color: #1a1a1a;
  background-color: black;
  width: 100%;
  padding: 1.7rem;
  font-size: 2rem;
  border-radius: 2rem;
  margin-top: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.truck-button {
  width: 3rem;
  height: 3rem;
}

.boton-checkout:hover {
  background-color: #2b2b2b;
  transition: all .5s;
}

.boton-info-pedido{
  display: none;
}

.ocultar-info-pedido {
  display: none;
}

.alerta {
  color: white;
  padding: 2rem;
  border-radius: 1rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.resumen-productos {
  border-bottom: 1px solid #727272;
  padding-bottom: 2rem;
}

.producto-checkout {
  display: grid;
  grid-template-columns: .7fr 3fr .8fr;
  gap: 2rem;
  align-items: center;
  padding-top: 2rem;
}

.nombre-checkout {
  font-weight: bold;
  font-size: 1.7rem;
}

.cantidad-checkout {
  color: #3a3a3a;
}

.contenedor-checkout {
  width: 90%;
  margin: 0 auto;
}

.imagen-checkout {
  border-radius: 1rem;
}

.seccion-total {
  padding-bottom: 2rem;
  border-bottom: 1px solid #727272;
}

.envios-fotos {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding-top: 2rem;
}

.envios-fotos img {
  width: 8rem;
}



@media(min-width: 768px) {
  .contenedor-checkout {
    width: 85%;
  }

  .div-rows-info {
    flex-direction: row;
  }
  
  
}

@media(min-width: 1024px) {
  .boton-checkout {
    margin-top: 1rem;
  }
  .pagina-checkout {
    grid-template-columns: 3fr 1.5fr;
  }
  .grid-item:nth-child(1){
    order: 1;
  }
  
  .grid-item:nth-child(2){
    order: 2;
  }
  .ocultar-info-pedido {
    display: block;
  }
  .boton-info-pedido{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  
}


/* ---------------------------------- AUTH ------------------------------------------*/

.login-auth {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  padding: 5rem 3rem;
  box-shadow: 10px 7px 74px -12px rgba(114, 114, 114, 0.75);
  border-radius: 2rem;
  margin-bottom: 17rem;
  margin-top: 10rem;
}

.login-auth h2 {
  margin-bottom: 2rem;
}

.login-auth label {
  margin-bottom: 1rem;
}

.login-auth input {
  border: 1px solid #a1a1a1;
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
}

.boton-auth {
  background-color: #1a1a1a;
  color: white;
  padding: 1rem 3rem;
  border-radius: 1rem;
}

@media(min-width: 768px) {
  .login-auth {
    width: 60%;
    margin-bottom: 20rem;
  }
}

@media(min-width: 1024px) {
  .login-auth {
    width: 40%;
  }
}

/*------------ PAGINA PEDIDO CONFIRMADO ---------------------*/

.card-confirmacion {
  width: 95%;
  margin: 0 auto;
  box-shadow: 10px 7px 74px -12px rgba(114, 114, 114, 0.75);
  border-radius: 2rem;
  padding: 2rem 2rem;
  margin-bottom: 4rem;
  margin-top: 0rem;
}

.icono-confirmacion {
  height: 10rem;
  width: 10rem;
}

.confirmacion p, .pregunta{
  text-align: center;
  color: #2b2b2b;
  margin-top: 1.2rem;
}

.contacto-wa {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.boton-contacto-pedido {
  background-color: #25d366;
  display: flex;
  padding: 0rem 1rem;
  align-items: center;
  border-radius: 1rem;
}

.boton-contacto-pedido p {
  color: white;
  text-transform: uppercase;
}

.boton-contacto-pedido img {
  width: 6rem;
  height: 6rem;
}

@media(min-width: 768px) {
  .icono-confirmacion {
    height: 20rem;
    width: 20rem;
  }
  .card-confirmacion {
    width: 80%;
    padding: 6rem 2rem;
    margin-bottom: 4rem;
    margin-top: 0rem;
  }
  .contacto-wa {
    margin-top: 10rem;
  }
}

@media(min-width:1024px) {
  .card-confirmacion {
    width: 65%;
  }
}

.bgspiner {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000000c4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ---------------------------- NOSOTROS --------------------------*/

.imagen-nosotros {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.imagen-nosotros img {
  height: 20rem;
  width: 20rem;
  object-fit: contain;
  align-items: center;
  border-radius: 100%;
  box-shadow: 0px 5px 15px 0px rgba(107, 106, 107, 0.3);
}

.p-contactar {
  box-shadow: 0px 5px 15px 0px rgba(107, 106, 107, 0.6);
  padding: 2rem;
  border-radius: 2rem;
  margin-top: 3rem;
  color: #3d3d3d;
}

.contenido-nosotros p {
  font-size: 2rem;
  text-align: justify;
}

.imagenredsocial {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

.divconta p {
  font-size: 3.5rem;
  color: black;
}

.imagenredsocial:hover {
  transform: rotate(20deg);
  transition: all 1s;
}

@media (min-width: 768px) {
  .p-contactar {
    width: 60%;
    margin: 2rem auto;
  }
  .imagenredsocial {
    width: 8rem;
    height: 8rem;
  }
  .contenido-nosotros {
    width: 80%;
  }

  .imagenes-nosotros img {
    height: 40rem;
    width: 50rem;
  }
}

@keyframes slideright {
  0% {
    transform: translateX(40rem);
  }
  100% {
    transform: translateX(-40rem);
  }
}